# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/

# Logs
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
*.code-workspace

